@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;700&display=swap');

/* remember: mobile first! */

:root{
    
}

* {
    font-family: Kumbh Sans, sans-serif;
}

:root{
    
}

body {

    background-image: linear-gradient(hsl(273,75%,66%), hsl(240,73%,65%))
}

.outerContainer {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px;
    width: 320px;
    align-items: center;
    margin-top: 30%;
    margin-bottom: 30%;
    box-shadow: 0 40px 100px -50px rgb(22, 22, 69);
    /* height: 510px; */
}

.faq_title {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 120px;
    color: hsl(238, 29%, 16%);
}

.accordion {
    /* background-color: gray; */
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: hsl(237, 12%, 33%);
    cursor: pointer;
    user-select: none;
}

.arrow {
    align-items: right;
    width: auto;
    margin: 0;
}

.panel {
    text-align: left;
    /* background-color: lightgray; */
    /* display: none; */
    /* width: 85%; */
    font-weight: 300;
    margin: 0 7.5%;
    padding-top: 5px;
    /* padding-bottom: 15px; */
    padding-right: 18px;
    color: hsl(240, 6%, 50%);
    overflow: hidden;
    font-size: 12px;

    opacity: 0;
    max-height: 0;
    transition: all .3s ease;
}

.panel.active{
    opacity: 1;
    max-height: 300px;
    padding-bottom: 15px;
}

hr { /*dividers*/
    width: 85%;
    border: none;
    height: 1px;
    background-color: hsl(240, 5%, 91%);
}

.woman_img {
    display: flex;
    position: relative;
    display: block;
    width: 77.7%;
    /* height: 100px; */
    margin: auto;
    top: -120px;
}

.n1 {
    align-items: center;
    width: 320px;
    height: 80px;
    top: 5px;
    transform: translate();
    position: absolute;
    pointer-events: none;
}

.n2 {
    align-items: center;
    width: 100%;
    /* height: 430px; */
    margin-bottom: 10%;
}

.bg_pattern_mobile {
    position: relative;
    display: block;
    width: 77.7%;
    margin: auto;
    text-align: center;
    height: 100px;
    top: -240px;
}

.bold { font-weight: bold; }