@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;700&display=swap');

/* remember: mobile first! */

:root{
    --container_width: 320px;
    --faq_width: 100%;
    --n2_width: 100%;
    --faq_margin-top: 120px;
    --n2_margin-bottom: 10%;
    --n1_height: 80px;
    --n1_top: 5px;
    --n1_width: 320px;
    --woman_img_width: 77.7%;
    --faq_margin-right: auto;

    --n2_margin-right: auto;
    --n2_padding-top: 0px;
    --n1_position: absolute;
    --desktop_width: 320px;

    --desktop_padding-right: 0px;
    --desktop_padding-top: 0px;
    --desktop_padding-bottom: 0px;
    --faq_text-align: center;
    --accordion_margin: auto;
    --panel_margin: 0 7.5%;
    --hr_margin-left: auto;

    --woman_img_mobile_display: block;
    --woman_img_desktop_display: none;
    --bg_pattern_mobile_display: block;
    --bg_pattern_desktop_display: none;
    --box_display: none;
    --container_height: auto;

    --container_margin-top: 160px;
    --container_margin-bottom: 100px;
    --faq_margin-bottom: 20px;
    --faq_position: relative;
    /* --faq_margin-left: auto; */
    /* --desktop_width: 100%; */
}

@media only screen and (min-width: 920px) { /*when screen width gets higher than 1000px*/
    .container { 
        --container_width: 900px;
        justify-content: space-between; 
        --container_height: 500px;
        --container_margin-top: 130px;
        --container_margin-bottom: auto;
    }

    .faq_title {
        --faq_width: auto;
        --faq_margin-top: 0px;
        --faq_margin-right: 0px;
        --faq_margin-bottom: 0px;
        --faq_text-align: left;
        --faq_position: absolute;
    }

    .n2 {
        --n2_width: 100%;
        --n2_margin-bottom: 0%;
        --n2_margin-right: 0px;
        --n2_padding-top: 80px;
    }

    .n1 {
        --n1_height: 0;
        --n1_top: 0;
        --n1_width: 320px;
        --n1_position: relative;
    }

    .woman_img {
        --woman_img_width: 87.7%;
    }

    .desktop {
        margin-left: 300px;
        --desktop_width: calc(var(--container_width) / 2);
        --desktop_padding-right: 0px;
        --desktop_padding-top: 50px;
        --desktop_padding-bottom: 80px;
    }

    .accordion {
        --accordion_margin: 0;
    }

    .panel {
        --panel_margin: 0;
        width: 85%;
    }

    hr {
        --hr_margin-left: 0;
    }

    .woman_img_mobile {
        --woman_img_mobile_display: none;
    }

    .woman_img_desktop {
        --woman_img_desktop_display: block;
    }

    .bg_pattern_mobile {
        --bg_pattern_mobile_display: none;
    }

    .bg_pattern_desktop {
        --bg_pattern_desktop_display: block;
    }

    .box {
        --box_display: block;
    }
}

* {
    font-family: Kumbh Sans, sans-serif;
}

html {
    height: 100%;
}

body {
    background-image: linear-gradient(hsl(273,75%,66%), hsl(240,73%,65%));
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.desktop {
    width: var(--desktop_width);
    margin: 0;
    margin-right: 0;

    padding-right: var(--desktop_padding-right);
    padding-top: var(--desktop_padding-top);
    padding-bottom: var(--desktop_padding-bottom);
}

.outerContainer {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px;
    width: var(--container_width);
    align-items: center;
    margin-top: var(--container_margin-top); /*mobile 30%*/
    margin-bottom: var(--container_margin-bottom); /*mobile 30%*/
    box-shadow: 0 40px 100px -50px rgb(22, 22, 69);;
    justify-content: baseline;

    /* transition: 1s; */
    height: var(--container_height);
    top: auto;
}

.faq_title {
    width: var(--faq_width);
    text-align: var(--faq_text-align); /*mobile is center*/
    font-size: 30px;
    font-weight: 700;
    margin-bottom: var(--faq_margin-bottom); /*20px for mobile*/
    margin-top: var(--faq_margin-top); /*120px for mobile*/
    margin-right: var(--faq_margin-right);
    /* margin-left: var(--faq_margin-left); */
    color: hsl(238, 29%, 16%);
    position: var(--faq_position);
}

.accordion {
    /* background-color: gray; */
    width: 85%;

    /* margin: auto; */
    margin: var(--accordion_margin);

    display: flex;
    justify-content: space-between;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: hsl(237, 12%, 33%);
    cursor: pointer;
    user-select: none;
}

.arrow {
    align-items: right;
    width: auto;
    margin: 0;
}

.panel {
    text-align: left;
    /* background-color: lightgray; */
    /* display: none; */
    /* width: 85%; */
    font-weight: 300;
    margin: var(--panel_margin); /*mobile is 0 7.5%*/
    padding-top: 5px;
    /* padding-bottom: 15px; */
    padding-right: 18px;
    color: hsl(240, 6%, 50%);
    overflow: hidden;
    font-size: 12px;

    opacity: 0;
    max-height: 0;
    transition: all .3s ease;
}

.panel.active{
    opacity: 1;
    max-height: 300px;
    padding-bottom: 15px;
}

hr { /*dividers*/
    width: 85%;
    border: none;
    height: 1px;
    background-color: hsl(240, 5%, 91%);
    margin-left: var(--hr_margin-left);
}

.woman_img_mobile {
    display: flex;
    position: relative;
    display: var(--woman_img_mobile_display); /*mobile is block*/
    width: var(--woman_img_width); /*mobile 77.7%*/
    /* height: 100px; */
    margin: auto;
    top: -120px;
}

.woman_img_desktop {
    display: flex;
    position: relative;
    display: var(--woman_img_desktop_display);
    width: auto;
    margin: auto;
    top: -180px;
    left: -1px;
    z-index: 1;

    /* clip-path: inset(0px 50px); */
}

.n1 {
    align-items: center;
    width: var(--n1_width); /*mobile 320px*/
    height: var(--n1_height); /*mobile 80px*/
    top: var(--n1_top);
    transform: translate();
    position: var(--n1_position);
    pointer-events: none;
    margin: 0;
}

.n2 {
    align-items: var(--n2_align-items); /*mobile center*/
    width: var(--n2_width);
    /* height: 430px; */
    margin-bottom: var(--n2_margin-bottom); 
    margin-right: var(--n2_margin-right);
    padding-top: var(--n2_padding-top);
    overflow: hidden;
}

.bg_pattern_mobile {
    position: relative;
    display: var(--bg_pattern_mobile_display); /*mobile is block*/
    width: 77.7%;
    margin: auto;
    text-align: center;
    height: 100px;
    top: -240px;
}

.bg_pattern_desktop {
    display: var(--bg_pattern_desktop_display);
    position: absolute;
    top: -550px;
    left: -600px;
    z-index: 0;
    height: 500px;
    width: 500px;
}

.box {
    display: var(--box_display);
    position: absolute;
    left: -90px;
    top: -60px;
    z-index: 2;
}

.bold { font-weight: bold; }
